{{#if canUpload}}
    <li>
        {{# snf-dropfile-btn tagName="a" 
            inputName="X-Object-Data"
            multiple=true onclick="select" 
            target=controllers.application
            location=path
            }}
            {{fa-icon "fa-upload"}}
            <label>Upload</label>
        {{/snf-dropfile-btn}}
    </li>
{{/if}}

{{#if canTrash}}
    <li class={{unless hasSelected 'disabled'}}>
        <a {{action 'moveObjectsToTrash'}}>
            {{fa-icon "fa-trash"}}
            <label>Trash</label>
        </a>
    </li>
{{/if}}

{{#if canDelete}}
    <li class={{unless hasSelected 'disabled'}}>
        <a {{action 'deleteObjects'}}>
            {{fa-icon "fa-remove"}}
            <label>Delete</label>
        </a>
    </li>
{{/if}}

{{#if canCopy}}

    <li class={{unless hasSelected 'disabled'}}>
        <a {{action 'openCopy'}}>
            {{fa-icon "fa-copy"}}
            <label>Copy</label>
        </a>
    </li>
{{/if}}

{{#if canCut}}
    <li class={{unless hasSelected 'disabled'}}>
        <a {{action 'openCut'}}>
            {{fa-icon "fa-share"}}
            <label>Move</label>
        </a>
    </li>
{{/if}}

{{#if canCreate}}
    <li>
        <a {{action 'showDialog' 'create-dir' 'objects'}}>
            {{fa-icon "fa-folder"}}
            <label>New folder</label>
        </a>
    </li>
{{/if}}

<li>{{partial "items/sort-select"}}</li>
<li>{{partial "global/refresh"}}</li>
