{{#link-to (query-params view=otherView) }}
    <span data-view={{otherView}}>
        {{fa-icon "fa-th"}}
        {{fa-icon "fa-list"}}
    </span>
    <label>{{otherView}} {{t 'icon_label.view'}}</label>
{{/link-to}}
