<footer class="footer">
    <ul class="left icon-list">
        <li>
	        {{partial "overlays/usage-info"}}
        </li>
        <li>
            {{partial "overlays/shortcuts-info"}}
        </li>
        <li>
            <a {{action 'showDialog' 'feedback' 'feedback'}}>
                {{fa-icon "envelope-o"}}
                <label>{{t 'global.prompt_feedback'}}</label>
            </a>
        </li>
    </ul>
    <span class="right themes">
        {{t 'global.choose_theme'}}
        {{#each theme in settings.themes}}
            <a class="icon" {{action 'toggleTheme' theme.name}} style="color:{{theme.color}}">{{fa-icon theme.icon-menu}}</a>
        {{/each}}
    </span>
    <p class="copyright">
        {{settings.branding.COPYRIGHT_MESSAGE}}
        <span>
            Powered by
            <a href="https://www.synnefo.org/">Synnefo</a> v{{settings.branding.SYNNEFO_VERSION}}
        </span>
    </p>
</footer>

