{{#if user.errorMsg}}
	<a class='email snf-tooltip snf-tooltip-s' aria-label={{user.errorMsg}}>{{user.email}}</a>
{{else}}
	<a class='email'>{{user.email}}</a>
{{/if}}
<a class='remove sign snf-tooltip snf-tooltip-s' {{action 'removeUser' user.email target='view.parentView'}} aria-label="Remove">
	{{fa-icon "fa-trash-o"}}
</a>
