<h3>{{t 'overlay.create_dir.title'}}</h3>
<form {{action 'validateCreation' 'createDir' on="enter"}}>
    {{view "input-single" placeholder="Folder name" autofocus=true controller=controller}}
    {{#view "buttons"}}
        <button {{action 'validateCreation' 'createDir'}}>{{t 'button.create_dir'}}</button>
    {{/view}}
</form>
