<h3>{{t 'overlay.error.title'}}</h3>
<p>{{t 'overlay.error.intro'}}</p>
<div class="js-slide-container" id="error-details">
	<div class="js-btn-slide btn-line" {{action 'slide' controller 'error-details' target='view'}}>
		<span>{{t 'button.error_details'}}</span>
        <span class="arrow-up fa fa-angle-up"></span>
        <span class="arrow-down fa fa-angle-down"></span>
	</div>
	<div class="js-slide-me slide-me">
		{{#each error in model}}
				<p><strong>{{error.timestamp}}</strong></p>
				<p><strong>message:</strong> {{error.message}}</p>
				<p><strong>stack:</strong>{{error.stack}}</p>
			<hr>
		{{/each}}
	</div>

</div>

{{partial "overlays/feedback"}}
