{{#each error in model}}

	{{!-- status we have when we get server response --}}
	{{#if error.status}}
		<h3>Error {{error.status}}</h3>
		<p>Server response: {{error.status}} - {{error.statusText}}</p>

	{{!-- stack we have when js errors happen --}}
	{{else if error.stack}}
		<h3>Error</h3>
		<p><strong>message:</strong> {{error.message}}</p>
		<p><strong>stack:</strong>{{error.stack}}</p>
	{{/if}}
	<hr>
{{/each}}


{{partial "overlays/feedback"}}

