<h3>{{t 'overlay.feedback.title'}}</h3>
<p>{{{t 'overlay.feedback.intro'}}}</p>
<label>Message</label>
{{view 'textarea-with-validation' autofocus=true}}
<p>
	<a class="button small js-btn-close-modal btn-minor">{{t 'button.cancel'}}</a>
	<a class="button small right" {{action 'validateTextArea'}}>{{t 'button.send_feedback'}}</a>
</p>
