<h3>Groups</h3>
<div class="list-item create-area js-slide-container slide-container" id="group-new">
    <div class="btn-line" {{action 'slide' controller 'group-new' target='view'}}>
        <span class="snf-font if-group-add group-icon"></span>
        <span>New Group</span>
        <span class="arrow-up fa fa-angle-up"></span>
        <span class="arrow-down fa fa-angle-down"></span>
    </div>
    <div class="create-group js-slide-me slide-me">
        {{view 'input-partial' placeholder="Name..."}}
        {{view 'input-emails' placeholder="user1@example.com user2@example.com..." label="Members"}}
        <div class="buttons">
            <button class="small" {{action 'slide' controller 'group-new' target='view'}}>Cancel</button>
            <button class="small" {{action 'slide' controller 'group-new' 'createGroup' target='view'}} disabled={{controller.freezeCreation}}>Create</button>
        </div>
    </div>
</div>

{{#each group in controller.model itemController="group" itemView="group"}}{{/each}}