<button class="right button alert tiny" data-popover-trigger='{{view.id}}'>
    {{t 'button.delete'}}
</button>
<h5 {{action 'slide' controller view.id target='view.parentView'}}>
    <strong class="u-wrap">{{controller.model.name}}</strong>
    <em class="snf-tooltip snf-tooltip-n" aria-label="Manage members">({{pluralize controller.model.users.length 'member'}})</em>
    {{fa-icon "fa-angle-up" classNames="arrow-up"}}
    {{fa-icon "fa-angle-down" classNames="arrow-down"}}
</h5>
{{view 'popover' innerTemplate='overlays/confirm-simple' actionToPerform='deleteGroup' position='pos-bottom' triggerBy=view.id cls='warning'}}

<div class="js-slide-me slide-me">
    {{#if controller.hasOneMember}}
        <table>
            <thead>
                <tr>
                    <th>Members</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
 
            <tbody>
                {{!-- Here we should have controller.sortedUsers but it seems that the something wierd happens with the popover. --}}
                {{!-- The popover doesn't get the click event. --}}
                {{#each u in controller.model.users}}
                     <tr>
                        <td>{{u.email}}</td>
                        <td class="text-right">
                            <a data-popover-trigger={{view.remove_last_user}} class="icon-a snf-tooltip snf-tooltip-n" aria-label="Remove member">
                                {{fa-icon 'fa-remove' fixedWidth=true}}
                            </a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        {{view 'popover' innerTemplate='overlays/remove-last-member' actionToPerform='removeUserFromGroup' position='pos-bottom' triggerBy=view.remove_last_user}}
    {{else}}
        <table>
            <thead>
                <tr>
                    <th>Members</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
 
           <tbody>
                {{#each u in controller.sortedUsers}}
                     <tr>
                        <td>{{u.email}}</td>
                        <td class="text-right">
                            <a {{action 'removeUserFromGroup' u}} class="icon-a snf-tooltip snf-tooltip-n" aria-label="Remove member">
                                {{fa-icon "fa-remove" fixedWidth=true}}
                            </a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/if}}
    {{view 'input-emails' placeholder="user1@example.com user2@example.com..." label="Add more users"}}
    <div class="buttons">
        <button class="tiny right" {{action "addUsersToGroup"}} disabled={{controller.freezeCreation}}>
            {{fa-icon "fa-user-plus"}} 
            {{t 'button.add_users_to_group'}}
        </button>
    </div>
</div>
