<h3>{{controller.title}}</h3>
<p>{{t 'choose_folder_to_move' controller.actionVerb}}</p>

{{#if controller.selected}}
    <p>{{t 'selected_path'}} <strong class="u-wrap">{{controller.selectedDir}}</strong></p>
    <p><a class="button small" {{action "move"}}>{{controller.actionVerb}}</a></p>
{{/if}}

<ul class="dir-tree">
    {{#each container in containersNoTrash}}
        {{dir-tree root=container.name resolver=resolveSubDirs role="select" action="selectDir"}}
    {{/each}}
</ul>
