<h3>{{controller.title}}</h3>
<p>Choose a folder to {{controller.actionVerb}} to:</p>
{{#if controller.selected}}
    <p>Selected path: <strong>{{controller.selectedDir}}</strong></p>
{{/if}}
<ul class="dir-tree">
    {{#each container in containersNoTrash}}
        {{dir-tree root=container.name resolver=resolveSubDirs role="select" action="selectDir"}}
    {{/each}}
</ul>
{{#if controller.selected}}
    <p><a class="button small" {{action "paste"}}>{{controller.actionVerb}}</a></p>
{{/if}}

