<h3>{{t 'overlay.restore.title'}}</h3>
<p>{{t 'overlay.restore.intro' controller.model.name}}</p>
{{#if controller.selected}}
    <p>Selected path: <strong class="u-wrap">{{controller.selectedDir}}</strong></p>
{{/if}}
<ul class="dir-tree">
    {{#each container in containersNoTrash}}
        {{dir-tree root=container.name resolver=resolveSubDirs role="select" action="selectDir"}}
    {{/each}}
</ul>
 
{{#if controller.selected}}
    <p><a class="button small" {{action "restoreObject"}}>{{t 'button.restore'}}</a></p>
{{/if}}

