<h3>Share {{fa-icon "fa-share-alt"}} <span class="u-wrap">{{model.stripped_name}}</span></h3>

{{#if model.is_dir}}
    <p><span class="subtle">Public sharing is currently disabled for folders</span></p>
{{else}}
    <label>
        {{input type="checkbox" checked=controller.isPublic}} 
       <strong>Public on the Internet</strong> Anyone who has the public link can access. No sign-in required. 
    </label>
    {{#if controller.isPublic}}
        <strong>Public link</strong><br> <span class="label secondary">{{model.public_link}}</span>
    {{/if}}
{{/if}}
<hr>
<p>
    <strong>Private sharing</strong> Only people explicitly granted permission can access. Sign-in required.
</p>

{{#if controller.isShared}}
    {{#if model.shared_users}}
        <table>
            <thead>
                <tr>
                    <th>Users/Groups</th>
                    <th>Read Only</th>
                    <th>Read/Write</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {{#each s in controller.shared_with_list}}
                    <tr>
                        <td class="u-wrap">{{#if s.user}}{{s.user.email}}{{else}}{{s.display_name}}{{/if}}</td>
                        <td>{{radio-button name=s.id bindValue=s.permission value="read" action="togglePermission"}}</td>
                        <td>{{radio-button name=s.id bindValue=s.permission value="write" action="togglePermission"}}</td>
                        <td><a {{action 'removeUserFromShare' s.id}}>Remove</a></td>
                    </tr>
                {{/each}}
                <tr>
                    <td colspan="4"><a {{action 'removePrivateSharing'}}>Remove everybody</a></td>
                </tr>
            </tbody>
        </table>
        <p></p>
    {{/if}}
{{/if}}

<div>
    {{view "select" content=groups
           optionLabelPath="content.name"
           optionValuePath="content.id"
           prompt="Select group"
           selection=selectedGroup}}
</div>

<div>
    {{view 'input-emails' placeholder="user1@example.com user2@example.com..." label="Add users" autofocus="autofocus"}}
    <button {{action 'shareWithUsers'}} class="small button" {{bind-attr disabled='freezeCreation'}}>Add Users</button>
</div>

{{#unless controller.isSharedAll}}
<div>
    <button {{action 'shareWithAll'}} class="small button alert">Privately share with everybody</button>
</div>
{{/unless}}


