<h3>Versions for <span class="u-wrap">{{controller.model.stripped_name}}</span></h3>
<table>
    <thead>
        <tr>
            <th>Version</th>
            <th>Date</th>
            <th>Download</th>
            <th>Restore</th>
        </tr>
    </thead>
    <tbody>
    {{#each v in versions itemController='object/version'}}
        <tr>
            <td>{{v.model.id}}</td>
            <td>{{timestamp-to-human v.model.timestamp}}</td>
            <td><a {{bind-attr  href=v.view_src_version}} title="Download version" target="_blank">{{fa-icon "fa-download"}}</a></td>
            <td><a {{action 'restoreObject' v.model.id}} title="Restore version">{{fa-icon "fa-database"}}</a></td>
        </tr>

    {{/each}}
    </tbody>
</table>
