<div class="panel callout">
    {{#with controller as file}}
    <a {{action 'hideObjectVersions'}} class="close">{{fa-icon "fa-close"}}</a>
    <table>
        <caption>Versions for {{file.stripped_name}}</caption>
        <thead>
            <tr>
                <th>Version</th>
                <th>Date</th>
                <th>Download</th>
                <th>Restore</th>
            </tr>
        </thead>
        <tbody>
        {{#each v in versions itemController='object/version'}}

            <tr>
                <td>{{v.id}}</td>
                <td>{{timestamp-to-human v.timestamp}}</td>
                <td><a {{bind-attr  href=v.view_src_version}} title="Download version" download>{{fa-icon "fa-download"}}</a></td>
                <td><a {{action 'restoreObject' v.id}} title="Restore version">{{fa-icon "fa-database"}}</a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{/with}}
</div>
