	<h3>{{view.title}}</h3>
	<p>
        Do you want to {{view.actionVerb}} the {{itemType}} <b>{{name}}</b> 
        {{# if count}}(containing {{count}} items){{/if}}?
    </p>
    <p><span class="danger">{{fa-icon "fa-warning"}} The action cannot be undone.</span></p>

	<p>
		<a class="button btn-minor close-modal cancel">Cancel</a>
		<a class="button alert close-modal" {{action actionToPerform}}> {{ view.actionVerb}}</a>
	</p>
