	<h2>{{view.title}}</h2>
	<p>Do you want to {{view.actionVerb}} the {{itemType}} <b>{{name}}</b>?</p>
	<a class="close-reveal-modal" {{action 'closeDialog' target="view"}}>&#215;</a>

	<div class="buttons">
		<a class="button small close-reveal-modal">Cancel</a>
		<a href="" class="button small close-reveal-modal" {{action actionToPerform}}> {{ view.actionVerb}}</a>
	</div>