	<h2>{{view.title}}</h2>
	<p>Do you want to {{view.actionVerb}} the {{itemType}} <b>{{name}}</b>?</p>

	<p>
		<a class="button small close-modal">Cancel</a>
		<a class="button small close-modal" {{action actionToPerform}}> {{ view.actionVerb}}</a>
	</p>
