	<h3>{{view.title}}</h3>
	<p>
        Do you want to {{view.actionVerb}} the {{itemType}} <b>{{name}}</b> 
        {{# if count}}(containing {{count}} items){{/if}}?
    </p>
    <p><span class="danger">{{fa-icon "fa-warning"}} The action cannot be undone.</span></p>

	<p>
		{{!-- for popovers the action passes through template as a view propeprty --}}
		{{!-- *for now* will use it to recognize if the template is included in popover or dialog --}}
		{{#if view.actionToPerform}}
			<a class="button small alert close-modal" {{action view.actionToPerform}}>{{view.actionVerb}}</a>
			<a class="button small cancel" {{action 'closePopover' target='view'}}>Cancel</a>
			{{!-- for dialogs the action is a controller property --}}
		{{else}}
			<a class="button small close-modal cancel">Cancel</a>
			<a class="button small alert close-modal" {{action actionToPerform}}> {{view.actionVerb}}</a>
		{{/if}}
	</p>
