<h3>Groups</h3>
<a href="" class="slide-btn"><span></span>+New Group</a>
<div class="create-group slide-me">

    {{view 'input-partial' placeholder="Name..."}}
    {{view 'input-emails' placeholder="Enter one or more e-mails and then save them..."}}
    <div class="buttons">
        <button {{action 'resetCreation'}}>Cancel</button>
        <button {{action 'createGroup' }} {{bind-attr disabled='freezeCreation'}}>Create</button>
    </div>
</div>

    <hr>
{{#each}}
    Group: <strong>{{name}}</strong><br>
    Members: 
    <ul>
    {{#each u in users}}
        <li>
            {{u.email}} 
            <a {{action "removeUserFromGroup" u}} title="Remove user from group">{{fa-icon "fa-remove"}}</a>
        </li>
    {{/each}} 
    </ul>
    <a {{action "deleteGroup"}}>Delete group {{fa-icon "fa-remove"}}</a><br>
    {{view 'input-emails' placeholder="Enter one or more e-mails and then save them..."}}
    <button {{action "addUsersToGroup"}} {{bind-attr disabled='freezeCreation'}}>{{fa-icon "fa-users"}} Add users</button>
    
    <hr>
{{/each}}


{{outlet}}
