<a class="close-reveal-modal">{{fa-icon "fa-close"}}</a>
<h3>Groups</h3>
<div>

    {{view 'input-partial' placeholder="Name" focusout="notEmpty" input="toLowerCase encode checkSize"}}
    {{input type="text" placeholder="Comma separeted emails" value=newEmails}}

    <button {{action 'createGroup' }}>Create group</button>
</div>

{{#each}}
    Group: <strong>{{name}}</strong><br>
    Members: 
    <ul>
    {{#each u in users}}
        <li>
            {{u.email}} 
            <a {{action "removeUserFromGroup" u}} title="Remove user from group">{{fa-icon "fa-remove"}}</a>
        </li>
    {{/each}} 
    </ul>
    <a {{action "deleteGroup"}}>Delete group {{fa-icon "fa-remove"}}</a><br>
    {{input type="text" placeholder="Comma separated emails" value=newEmails}}
    <a {{action "addUsers"}}>Add users {{fa-icon "fa-users"}}</a>
    
    
    <hr>
{{/each}}


{{outlet}}
