<h3>Groups</h3>
<div class="list-item create-area slide-container">
    <div class="slide-btn btn-line">
        <span class="snf-font if-group-add group-icon"></span>
        <span>New Group</span>
        <span class="arrow-up fa fa-angle-up"></span>
        <span class="arrow-down fa fa-angle-down"></span>
    </div>
    <div class="create-group slide-me">
        {{view 'input-partial' placeholder="Name..."}}
        {{view 'input-emails' placeholder="Enter one or more e-mails and then save them..." label="Members"}}
        <div class="buttons">
            <button {{action 'resetCreation'}}>Cancel</button>
            <button {{action 'createGroup' }} {{bind-attr disabled='freezeCreation'}}>Create</button>
        </div>
    </div>
</div>
{{#each}}
<div class="list-item slide-container clearfix">
    <div class="main-info">
        <div class="slide-btn btn-line">
            <span class="snf-font if-group group-icon"></span>
			<strong class="group-name">{{name}}</strong>
			<span>(members: {{users.length}})</span>
            <span class="arrow-up fa fa-angle-up"></span>
            <span class="arrow-down fa fa-angle-down"></span>
        </div>

        <button class="margin-zero right button alert tiny" {{action "deleteGroup"}}>Delete</button>
    </div>
    <div class="slide-me more-info">
	<table>
		<tbody>
        {{#each u in users}}
			<tr>
				<td>{{u.email}}</td>
				<td class="text-right"><a {{action "removeUserFromGroup" u}} class="hint--bottom" data-hint="Remove user from group">Remove</a></td>
				</tr>
        {{/each}}
		</tbody>
	</table>
        {{view 'input-emails' placeholder="Enter one or more e-mails and then save them..." label="Add more users"}}
        <div class="buttons">
            <button class="tiny right" {{action "addUsersToGroup"}} {{bind-attr disabled='freezeCreation'}}>{{fa-icon "fa-users"}} Add users</button>
        </div>
    <hr>
    </div>
</div>
{{/each}}


{{outlet}}
