<a class="close-reveal-modal">{{fa-icon "fa-close"}}</a>
<h4>Share file</h4>
{{#if is_dir}}
<p><span class="footnote">Public sharing is currently disabled for folders</span></p>
{{else}}
    <label>
        {{input type="checkbox" checked=isPublic}} 
        <strong>Public on the Internet</strong> Anyone who has the public link can access. No sign-in required. 
    </label>
    {{#if isPublic}}
    <strong>Public link:</strong> <input disabled="disabled" class="large-input" {{bind-attr value=public_link}}>
    {{/if}}
{{/if}}
<hr>
<p>
    <strong>Private sharing</strong> Only people explicitly granted permission can access. Sign-in required.
</p>
<div>
    {{input type="text" placeholder="Comma separated emails" value=emails}}
    <button {{action 'shareUsers'}} class="small button">Add Users</button>
</div>
<div>
    {{view Ember.Select content=groups
           optionLabelPath="content.name"
           optionValuePath="content.id"
           prompt="Select group"
           selection=selectedGroup}}
</div>
{{#unless isSharedAll}}
<div>
    <button {{action 'shareAll'}} class="small button alert">Privately share with everybody</button>
</div>
{{/unless}}

{{#if isShared}}
    {{#if shared_users}}
        <table>
            <tr>
                <td>Users/Groups</td>
                <td>Read Only</td>
                <td>Read/Write</td>
                <td>&nbsp;</td>
            </tr>
            {{#each u in shared_users}}
                <tr>
                    <td>{{u.display_name}}</td>
                    <td>{{radio-button name=u.id bindValue=u.type value="read" action="changePermissions"}}</td>
                    <td>{{radio-button name=u.id bindValue=u.type value="write" action="changePermissions"}}</td>
                    <td><a {{action 'removeUser' u.id}}>Remove</a></td>
                </tr>
            {{/each}}
        </table>
        <p><a {{action 'removePrivateSharing'}}>Remove everybody</a></p>
    {{/if}}
   {{#if shared_users}}
        <strong>Private link:</strong>
        <input disabled="disabled" class="large-input" {{bind-attr value=view_src}}>
    {{/if}}
{{/if}}


