<h3>Share {{fa-icon "fa-share-alt"}} {{stripped_name}}</h3>

{{#if is_dir}}
<p><span class="subtle">Public sharing is currently disabled for folders</span></p>
{{else}}
    <label>
        {{input type="checkbox" checked=isPublic}} 
       <strong>Public on the Internet</strong> Anyone who has the public link can access. No sign-in required. 
    </label>
    {{#if isPublic}}
    <strong>Public link</strong><br> <span class="label secondary">{{public_link}}</span>
    {{/if}}
{{/if}}
<hr>
<p>
    <strong>Private sharing</strong> Only people explicitly granted permission can access. Sign-in required.
</p>
<div>
    {{!-- {{input type="text" placeholder="Comma separated emails" value=emails autofocus="autofocus"}} --}}
    {{view 'input-emails' placeholder="Enter one or more e-mails and then save them..."}}
    <button {{action 'shareWithUsers'}} class="small button" {{bind-attr disabled='freezeCreation'}}>Add Users</button>
</div>
<div>
    {{view "select" content=groups
           optionLabelPath="content.name"
           optionValuePath="content.id"
           prompt="Select group"
           selection=selectedGroup}}
</div>
{{#if isShared}}
    {{#if shared_users}}
        <table>
            <tr>
                <td>Users/Groups</td>
                <td>Read Only</td>
                <td>Read/Write</td>
                <td>&nbsp;</td>
            </tr>
            {{#each s in shared_with_list}}
                <tr>
                    <td>{{#if s.user}}{{s.user.email}}{{else}}{{s.display_name}}{{/if}}</td>
                    <td>{{radio-button name=s.id bindValue=s.permission value="read" action="togglePermission"}}</td>
                    <td>{{radio-button name=s.id bindValue=s.permission value="write" action="togglePermission"}}</td>
                    <td><a {{action 'removeUserFromShare' s.id}}>Remove</a></td>
                </tr>
            {{/each}}
        </table>
        <p><a {{action 'removePrivateSharing'}}>Remove everybody</a></p>
    {{/if}}
{{/if}}


{{#unless isSharedAll}}
<div>
    <button {{action 'shareWithAll'}} class="small button alert">Privately share with everybody</button>
</div>
{{/unless}}


