{{partial "header"}}
{{partial "top-bar"}}

<div class="main clearfix">
    {{outlet}}
</div>

{{ snf-dropfile files=dropFiles 
                uploader=dropFileUploader 
                uploadLocation=uploadLocation
                classNames="small-12" }} 
{{!-- dialogs at first is completely empty --}}
{{!-- when a dialog must be appeared, it is rendered in the dialogs place --}}

{{!-- The names of the outlets are used and in the file routes/application.js, too --}}
{{outlet "dialogs"}}
{{outlet "errorDialogs"}}
{{outlet "feedback"}}

<div class="bottom">
	{{outlet "total-quotas"}}
    <a class="fl-right" {{action 'showDialog' 'feedback' 'feedback'}}>Send us Feedback</a>
</div>

