{{partial "header"}}
{{partial "top-bar"}}

<div class="main clearfix">
    <div class="columns small-2 sidebar">
        {{view "my-dir-tree"}}
        {{outlet "shared-with-me"}}
   </div>

    <div class="columns small-10 content">
        {{outlet "breadcrumbs"}}
        {{outlet}}
    </div>
</div>

{{ snf-dropfile files=dropFiles 
                uploader=dropFileUploader 
                uploadLocation=uploadLocation
                classNames="small-12" }} 
{{!-- dialogs at first is completely empty --}}
{{!-- when a dialog appears, it renders in the dialogs outlet --}}

{{!-- The names of the outlets are used and in the file routes/application.js, too --}}
{{outlet "dialogs"}}
{{outlet "errorDialogs"}}
{{outlet "feedback"}}

{{partial "footer"}}

