<li class="enabled">
    {{# snf-dropfile-btn tagName="a" 
        inputName="X-Object-Data"
        multiple=true onclick="select" 
        target=controllers.application
        location=path
        }}
        {{fa-icon "fa-upload"}}
        <label>Upload</label>
    {{/snf-dropfile-btn}}
</li>
<li {{bind-attr class="hasSelected::disabled"}}>
    <a {{action 'moveObjectsToTrash'}}>
        {{fa-icon "fa-trash"}}
        <label>Trash</label>
    </a>
</li>

<li {{bind-attr class="hasSelected::disabled"}}>
    <a {{action 'deleteObjects'}}>
        {{fa-icon "fa-remove"}}
        <label>Delete</label>
    </a>
</li>
<li  {{bind-attr class="toPasteObject::disabled"}}>
    <a {{action 'pasteObject'}}>
        {{fa-icon "fa-paste"}}
        <label>Paste</label>
    </a>
</li>
<li>
    <a {{action 'showDialog' 'create-dir' 'objects'}}>
        {{fa-icon "fa-folder"}}
        <label>New folder</label>
    </a>
</li>
<li>{{partial "bar/sort"}}</li>
