<div class="top-bar-wrapper">
    <nav class="top-bar" data-topbar="" role="navigation">
        <section class="top-bar-section">
        {{pithos-breadcrumbs container_id=container_id current_path=current_path objects_count=objectsCount}}
        <!-- Right Nav Section -->
            <ul class="right top-icons">
                <li class="enabled">
                    {{# snf-dropfile-btn tagName="a" 
                        inputName="X-Object-Data"
                        multiple=true onclick="select" 
                        target=controllers.application
                        location=path
                        }}
                        {{fa-icon "fa-upload"}}
                        <label>Upload</label>
                    {{/snf-dropfile-btn}}
                </li>
                <li {{bind-attr class="hasSelected::disabled"}}>
                    <a {{action 'moveObjectsToTrash'}}>
                        {{fa-icon "fa-trash"}}
                        <label>Trash</label>
                    </a>
                </li>

                <li {{bind-attr class="hasSelected::disabled"}}>
                    <a {{action 'deleteObjects'}}>
                        {{fa-icon "fa-remove"}}
                        <label>Delete</label>
                    </a>
                </li>
                <li  {{bind-attr class="toPasteObject::disabled"}}>
                    <a {{action 'pasteObject'}}>
                        {{fa-icon "fa-paste"}}
                        <label>Paste</label>
                    </a>
                </li>
                <li>
                    <a {{action 'showDialog' 'create-dir' 'objects'}}>
                        {{fa-icon "fa-folder"}}
                        <label>New folder</label>
                    </a>
                </li>
                <li>
                    <a {{action 'showDialog' 'groups' 'groups' groups}}>
                        {{fa-icon "users"}}
                        <label>Groups</label>
                    </a>
                </li>
                <li>
                    <a {{action "refresh"}}>
                        {{fa-icon "refresh"}}
                        <label>Reload</label>
                    </a>
                </li>
            </ul>
        </section>
    </nav>
</div>
