<div class="top-bar-wrapper">
    <nav class="top-bar" data-topbar="" role="navigation">
        <section class="top-bar-section">
        {{pithos-breadcrumbs container_id=container_id current_path=current_path objects_count=objectsCount}}
        <!-- Right Nav Section -->
            <ul class="right top-icons">
                <li  {{bind-attr class="toPasteObject::disabled"}}>
                    <a {{action 'pasteObject'}}>
                        {{fa-icon "fa-paste"}}
                        <label>Paste</label>
                    </a>
                </li>
                <li {{bind-attr class="hasUpPath::disabled"}}>
                    {{#link-to 'objects' upPath}}
                        {{fa-icon "fa-level-up"}}
                        <label>Up</label>
                    {{/link-to}}
                </li>
                <li>
                    <a {{action 'showDialog' 'create-dir' 'objects'}}>
                        {{fa-icon "fa-folder"}}
                        <label>New folder</label>
                    </a>
                </li>
                <li>
                    <a {{action 'showDialog' 'groups' groups}}>
                        {{fa-icon "users"}}
                        <label>Groups</label>
                    </a>
                </li>
                <li>
                    <a {{action "refresh"}}>
                        {{fa-icon "refresh"}}
                        <label>Reload</label>
                    </a>
                </li>
            </ul>
        </section>
    </nav>
</div>
