{{input type="text" placeholder="Container name" value=newName}}
{{view Ember.Select content=projects
   optionLabelPath="content.select_label"
   optionValuePath="content.id"
   selection=newProject}}

<button {{action 'createContainer' }}>Create container</button>

<table>
<tbody>
{{#each}}
    <tr>
        <td>
            <h4>{{#link-to 'container' name}}{{name}}{{/link-to}}</h4>
            <strong>Selected project:</strong> {{selectedProject.name}}<br>
            <strong>Project member diskspace:</strong> {{convert-bytes selectedProject.diskspace}}<br>
            <strong>Containers bytes:</strong> {{convert-bytes bytes}}<br>
            <strong>Total items:</strong> {{count}}<br>
        </td>
        <td>
            {{view Ember.Select content=availableProjects
                   optionLabelPath="content.select_label"
                   optionValuePath="content.id"
                   prompt="Reassign project:"
                   selection=selectedProject}}
        </td>
        <td>
            <a class="button alert small" {{action 'deleteContainer'}}>Delete container</a>
        </td>
        <td>
            <a class="button secondary small" {{action 'emptyContainer'}}>Empty container</a>
        </td>

    </tr>
{{/each}}
</tbody>
</table>
