<ul class="containers">
  {{#each sortedModel itemController="container"}}
	<li {{bind-attr class=":container :row new updated"}}>
		{{#if new}}<span class="label">new</span>{{/if}}
		{{#if updated}}<span class="label success">updated</span>{{/if}}
		<h4>{{#link-to 'container' name}}{{name}}{{/link-to}}</h4>
		Size: <strong>{{convert-bytes bytes}}</strong><br>
		Modified: <strong>{{time-from-now last_modified}}</strong><br>
		Items: <strong>{{count}}</strong><br>
	    {{view "select" content=availableProjects
		                optionLabelPath="content.select_label"
		                optionValuePath="content.id"
		                prompt="Reassign project:"
		                selection=selectedProject}}
		<button class="button alert tiny" {{bind-attr disabled=this.forbidDeletion}} {{action 'showDialog' 'confirm-simple' this.controller this 'emptyAndDelete'}}>Delete</button>
		<button class="button secondary tiny" {{action 'showDialog' 'confirm-simple' this.controller this 'emptyContainer'}}>Empty</button>
	</li>
  {{/each}}
</ul>

