{{view 'input-with-validation' placeholder='Create Container...'}}
{{!-- the element below is temp --}}
<span class="side-select">
  {{view "select" content=projects
     optionLabelPath="content.select_label"
     optionValuePath="content.id"
     selection=newProject}}
</span>

<button class="btn-create-container" {{action 'validateCreate' 'createContainer' }}>Create container</button>

<table>
<tbody>
{{#each}}
    <tr>
        <td>
            <h4>{{#link-to 'container' name}}{{name}}{{/link-to}}</h4>
            <strong>Selected project:</strong> {{project.name}}<br>
            <strong>Containers bytes:</strong> {{convert-bytes bytes}}<br>
            <strong>Total items:</strong> {{count}}<br>
        </td>
        <td>
            {{view "select" content=availableProjects
                   optionLabelPath="content.select_label"
                   optionValuePath="content.id"
                   prompt="Reassign project:"
                   selection=selectedProject}}
        </td>
        <td>
            <a class="button alert small" {{action 'emptyAndDelete'}}>Delete Container</a>
        </td>
        <td>
            <a class="button secondary small" {{action 'showDialog' 'confirm-simple' this.controller this 'emptyContainer'}}>Empty container</a>
        </td>

    </tr>
{{/each}}
</tbody>
</table>
