<ul class="containers grid small-block-grid-2 large-block-grid-4">
  {{#each}}
	<li {{bind-attr class="new updated loading"}}>
        <div class="wrap">
            <div class="loader">{{fa-icon "fa-refresh fa-pulse"}}</div>
            {{#if new}}<span class="label alert">new</span>{{/if}}
            <h4>
                {{#link-to 'container' name}}
                {{#if isTrash}}{{fa-icon "fa-trash"}} {{/if}}
                    {{name}}
                {{/link-to}}
            </h4>
            <dl>    
                <dt>Items</dt>
                <dd>{{count}}</dd>
                <dt>Size</dt>
                <dd>{{convert-bytes bytes}}</dd>
                <dt>Modified</dt>
                <dd>
                    {{#tooltip-hint title=last_modified_human}}
                        {{time-from-now last_modified }}
                    {{/tooltip-hint}}
                </dd>
           </dl>
            {{view "select" content=availableProjects
                            optionLabelPath="content.select_label"
                            optionValuePath="content.id"
                            prompt="Reassign project:"
                            selection=selectedProject}}
            {{#if isTrash}}
                <a class="icon-a" title="Cannot delete trash container" disabled>{{fa-icon "fa-remove fa-fw"}}</a>
            {{else}}
                {{#if isEmpty}}
                    <a class="icon-a" title="Delete container" {{action 'emptyAndDelete'}}>{{fa-icon "fa-remove fa-fw"}}</a>
                {{else}}
                    <a class="icon-a" title="Delete container" {{action 'showDialog' 'confirm-simple' this.controller this 'emptyAndDelete'}}>{{fa-icon "fa-remove fa-fw"}}</a>
                {{/if}}
            {{/if}}
            <a class="icon-a" title="Empty container" {{bind-attr disabled=isEmpty}} {{action 'showDialog' 'confirm-simple' this.controller this 'emptyContainer'}}>{{fa-icon "fa-trash-o fa-fw"}}</a>
        </div>
	</li>
  {{/each}}
</ul>

