<footer class="footer">
	{{partial "usage-info"}}
    <a class="right" {{action 'showDialog' 'feedback' 'feedback'}}>Send us Feedback</a>
    <span class="right themes">
        Choose Theme: 
        {{#each theme in settings.themes}}
            <a {{action 'toggleTheme' theme.name}} style="color:{{theme.color}}">{{fa-icon theme.icon}}</a>
        {{/each}}
    </span>
</footer>

