{{!-- placeholder is passed as a param from the template where you put the current view --}}
<div class='container-emails'>
	<span class='tiles'>
		{{#each user in view.usersToBeAdded}}
			{{view 'user-tile' user=user}}
		{{/each}}
		{{#if view.usersToBeAdded.length}}
			({{view.usersToBeAdded.length}})
		{{/if}}
	</span>
	<input {{bind-attr class='view.errorVisible:error view.warningVisible:warning'  placeholder=view.placeholder}} type='text' {{bind-attr value='view.value'}}>
	 <button {{action 'getInputValue' target='view'}} class="tiny">Load user</button>
</div>

<div  class='info'>
	<span {{bind-attr class='view.warningVisible:warning:invisible'}}>
		<span class='fa fa-warning'></span>
		<span class='info-msg'>{{view.warningMsg}}</span>
	</span>
	<span {{bind-attr class='view.errorVisible:error:invisible'}}>
		<span class='fa fa-warning'></span>
		<span class='info-msg'>{{view.errorMsg}}</span>
	</span>
</div>
