{{!-- placeholder is passed as a param from the template where you put the current view --}}
<input  class='{{if view.errorVisible "error"}}'
        placeholder={{view.placeholder}}
        value={{view.value}}
        autofocus={{view.autofocus}}
        type="text">
{{#if view.errorVisible}}
<span  class="error">
	<span class='fa fa-warning'></span>
	<span class='error-msg'>{{view.errorMsg}}</span>
</span>
{{/if}}
