{{partial "bar"}}
<div class="clearfix">
    <div class="columns small-2">
        {{#view view.DragDrop}}
            {{#each controller.validFiles}}

                <div {{bind-attr class="className :file"}}>
                   {{view view.ImagePreview imageBinding="this"}}
                    file.name: {{file.name}}
                    <a class="remove" {{action "deleteFile" this}} tilte="Remove file">{{fa-icon "fa-times"}}</a>
                    {{#if uploadStatus.uploading}}
                        <div class="uploading-percentage">Uploaded Percentage: {{uploadStatus.percentComplete}}%</div>
                    {{/if}}

                    {{#if uploadStatus.error}}
                        <div class="error">An error occurred during the upload process. Please try again later.</div>
                    {{/if}}
                </div>

            {{/each}}

            {{view view.MultipleInput}}

        {{/view}}

        <div class="panel">

            <h4>Upload Files ({{files.length}} in total)</h4>

                    <ul class="counts">
                <li class="valid">Valid: {{validFiles.length}}</li>
                <li class="uploaded">Uploaded: {{uploadedFiles.length}}</li>
                <li class="deleted">Deleted: {{deletedFiles.length}}</li>
            </ul>

            <div class="buttons">
                <button {{action "uploadAllFiles"}}>Upload All</button>
                <button class="success" {{action "clearAllFiles"}}>Clear</button>
                <button class="alert" {{action "abortUpload"}}>Abort Upload</button>
            </div>


        </div>
        {{outlet sidebarContainers}}
    </div>
    <div class="columns small-10">
        
        <div class="panel">
            {{view 'input-with-validation' placeholder="Create new directory"}}
            <a {{action 'validateCreation' 'createDir'}}>{{fa-icon "fa-save"}}</a>
        </div>

        <div>
        {{#if hasUpPath}}
            {{#link-to 'objects' upPath }} {{fa-icon "fa-level-up"}} {{/link-to}}
        {{/if}}
        </div>
        <div>
            Current path: <strong>{{current_path}}</strong>

            {{objectsCount}} objects total 
            {{#if toPasteObject}}
            <a {{action 'pasteObject'}} title="paste Item" class="obvious">{{fa-icon "fa-paste"}}</a>&nbsp;
            {{/if}}
            <a {{action 'refresh'}} title="Refresh Folder">{{fa-icon "fa-refresh"}}</a>
        </div>

        <table class="css-objects">
            <thead>
                <th>Name</th>
                <th>Last modified by</th>
                <th>Extension</th>
                <th class="size">Size</th>
                <th>Actions</th>
            </thead>
            <tbody>
            {{#each}}
                {{view 'object'}}
            {{else}}
                <tr><td rowspan="5">No objects in this directory</td></tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
