{{outlet}}
<h4>Objects</h4>

{{upPath}}
<div>
{{input type="text" placeholder="Create new directory" value=newDir}}
<a {{action 'createDir'}}>{{fa-icon "fa-check"}}</a>
</div>

<div>
{{#if hasUpPath}}
{{#link-to 'objects' upPath }} {{fa-icon "fa-level-up"}} {{/link-to}}
{{/if}}
</div>

<table>
<tbody>
{{#each}}
    <tr>
        <td>
            {{#if is_dir}}
                {{#link-to 'objects' name }}
                    {{fa-icon "fa-folder-open"}}
                    {{stripped_name}}
                {{/link-to}}
            {{else}}
                {{fa-icon "fa-file-o"}}
                {{stripped_name}}
                {{#if is_img}}
                    {{view_src}}
                    <img {{bind-attr scr=view_src}} />
                {{/if}}
                <a {{action 'deleteObject'}} title="delete Item">{{fa-icon "fa-trash"}}</a>
            {{/if}}
        </td>
        <td>
            {{input value=new_name placeholder=stripped_name}}
            <a {{action 'renameObject'}} title="rename Folder">{{fa-icon "fa-pencil"}}</a>
        </td>
    </tr>
{{/each}}
</tbody>
</table>
