<div class="panel">

    <h4>Upload Files ({{files.length}} in total)</h4>

    {{#view view.DragDrop}}
        {{#each controller.validFiles}}

            <div {{bind-attr class="className :file"}}>
               {{view view.ImagePreview imageBinding="this"}}
                file.name: {{file.name}}
                <a class="remove" {{action "deleteFile" this}} tilte="Remove file">{{fa-icon "fa-times"}}</a>
                {{#if uploadStatus.uploading}}
                    <div class="uploading-percentage">Uploaded Percentage: {{uploadStatus.percentComplete}}%</div>
                {{/if}}

                {{#if uploadStatus.error}}
                    <div class="error">An error occurred during the upload process. Please try again later.</div>
                {{/if}}
            </div>

        {{/each}}

        {{view view.MultipleInput}}

    {{/view}}

    <ul class="counts">
        <li class="valid">Valid: {{validFiles.length}}</li>
        <li class="invalid">Invalid: {{invalidFiles.length}}</li>
        <li class="uploaded">Uploaded: {{uploadedFiles.length}}</li>
        <li class="deleted">Deleted: {{deletedFiles.length}}</li>
    </ul>

    <div class="buttons">
        <button {{action "uploadAllFiles"}}>Upload All</button>
        <button class="success" {{action "clearAllFiles"}}>Clear</button>
        <button class="alert" {{action "abortUpload"}}>Abort Upload</button>
    </div>


</div>

<div class="panel">
{{input type="text" placeholder="Create new directory" value=newDir}}
<a {{action 'createDir'}}>{{fa-icon "fa-save"}}</a>
</div>



<div>
{{#if hasUpPath}}
    {{#link-to 'objects' upPath }} {{fa-icon "fa-level-up"}} {{/link-to}}
{{/if}}
</div>

{{outlet versions}}
<table>
<tbody>
{{#each}}
    <tr>
        <td>
            {{#if is_dir}}
                {{#link-to 'objects' name }}
                    {{fa-icon "fa-folder-open"}}
                    {{stripped_name}}
                {{/link-to}}
            {{else}}
                {{fa-icon "fa-file-o"}}
                {{#if is_img}}
                    {{light-box href=view_src data-lightbox="g-1" data-title=stripped_name}}
                {{/if}}
                {{stripped_name}}
            {{/if}}
        </td>
        <td>
            <a {{bind-attr href=view_src}} title="download Item" download>{{fa-icon "fa-download"}}</a>
        </td>
        <td>
            <a {{action 'deleteObject'}} title="delete Item">{{fa-icon "fa-remove"}}</a>
        </td>
         <td>
            <a {{action 'moveToTrash'}} title="move item to trash">{{fa-icon "fa-trash"}}</a>
        </td>
        <td>
            {{input value=new_name placeholder=stripped_name}}
            <a {{action 'renameObject'}} title="rename Folder">{{fa-icon "fa-pencil"}}</a>
        </td>
        <td>
            <a {{action 'showObjectVersions' this}}> Show object versions</a>
        </td>
    </tr>
{{else}}
    <tr><td>No objects in this directory</td></tr>
{{/each}}
</tbody>
</table>


