<td>
    {{#if is_dir}}
        {{#link-to 'objects' name}}
            {{fa-icon view.iconCls}}
            <span class="js-name">{{stripped_name}}</span>
        {{/link-to}}
    {{else}}
        {{#if view.previewSupported}}
            {{#if isImg}}
                {{#light-box href=view_src data-lightbox="g-1" data-title=stripped_name inlineImage=false}}
                {{fa-icon "fa-image"}}
                {{/light-box}}
            {{/if}}
        {{else}}
            {{fa-icon view.iconCls}}
        {{/if}}
        <span class="js-name">{{stripped_name}}</span>
    {{/if}}
    {{view 'input-with-validation' placeholder=stripped_name cls='hidden'}}
    <a title="Rename" class="js-show-edit rename">{{fa-icon "fa-pencil"}}</a>
    <span class="share">
        {{#if public_link}}
            <span class="hint--bottom" data-hint="Publicly shared">
                {{fa-icon "fa-globe"}}
            </span>
        {{/if}}
        {{#if sharing}}
            <span class="hint--bottom" data-hint="Privately shared">
                {{fa-icon "fa-user"}}
            </span>
        {{/if}}
        <a {{action 'showDialog' 'sharing' 'object/sharing' this  bubbles=false}} class="icon-btn">Share {{fa-icon "fa-share-alt"}}</a>
    </span>

    <a title="OK" class="hidden js-hide-edit" {{action 'reset' 'validateRename,renameObject' target=view bubbles=false}}>{{fa-icon "fa-check-circle"}}</a>
    <a class="js-cancel js-hide-edit hidden" title="Cancel" {{action 'reset' target=view bubbles=false}}>{{fa-icon "fa-times-circle"}}</a>
</td>
<td class="last-modified">
    {{timestamp-to-human-short last_modified }} <span class="subtle">{{modified-by current_user.email modified_by.email}}</span>
</td>
<td>
    {{extension}}
</td>
<td class="size">
    {{convert-bytes size}}
</td>
<td>
    <a {{bind-attr href=view_src}} title="download Item" download>{{fa-icon "fa-download"}}</a>
    <a {{action 'deleteObject' bubbles=false}} title="delete Item">{{fa-icon "fa-remove"}}</a>
    <a {{action 'moveToTrash' bubbles=false}} title="move item to trash">{{fa-icon "fa-trash"}}</a>
    <a {{action 'cutObject' bubbles=false}} title="cut Item">{{fa-icon "fa-cut"}}</a>
    <a {{action 'copyObject'bubbles=false}} title="copy Item" class="obvious">{{fa-icon "fa-copy"}}</a>
    <a {{action 'showDialog' 'versions' 'object/versions' this bubbles=false}}>Show object versions</a>
</td>
