{{#if listView}}
    <li>
        <div class="wrap clearfix">
            {{#if controller.hasObjects}}
                <div class="col checkbox-col" {{action "toggleSelectAll"}}>
                    {{fa-icon controller.checkSelectedCls fixedWidth=true}}
                </div>
            {{/if}}
            {{view "title-sortable" field="stripped_name" title="name" classNames="name-col"}}
            <div class="col select-col">&nbsp;</div>
            {{view "title-sortable" field="size" classNames="data-col"}}
            {{view "title-sortable" field="last_modified" title="modified" classNames="date-col"}}
            {{view "title-sortable" field="type" classNames="data-col show-for-large-up"}}
            <div class="col actions-col">
                {{#if controller.allowed_to}}
                    <span class="label {{controller.allowed_to}}">
                        {{controller.allowed_to}} permissions
                    </span>
                {{/if}}
            </div>
        </div>
    </li>
{{/if}}

{{#each object in sortedModel itemController="object" itemView="object"}}
{{else}}
    <li>No objects</li>
{{/each}}
{{#if controller.canUpload}}
    <li class="upload-area">{{fa-icon "fa-upload"}} Drag & Drop<br>files to upload </li>
{{/if}}
