<thead>
    <tr>
        {{view "th-sortable" field="stripped_name" title="name"}}
        {{view "th-sortable" field="last_modified"}}
        {{view "th-sortable" field="extension"}}
        {{view "th-sortable" field="size"}}
        <th>&nbsp;</th>
    </tr>
</thead>
<tbody>
{{#each}}
    {{view 'object'}}
{{else}}
    <tr><td rowspan="5">No objects in this directory</td></tr>
{{/each}}
</tbody>
