<div class="wrap clearfix">

    <div class="loader">{{partial "loader"}}</div>
    {{fa-icon "fa-check" size=2 classNames="selected-icon"}}

    <div class="col name-col">
        {{#if object.model.new}}<span class="label alert">new</span>{{/if}}
        {{#if object.model.is_dir}}
            {{#link-to (encode-path object.dirLinkRoute) (encode-path object.model.name) }}
                {{fa-icon view.iconCls}}
                <span class="js-name ellipsis">
                    <span>
                        {{object.model.stripped_name}}
                    </span>
               </span>
            {{/link-to}}
        {{else}}
            {{#if view.previewSupported}}
                {{#if object.isImg}}
                    {{#light-box href=object.view_src data-lightbox="g-1" data-title=object.model.stripped_name inlineImage=false}}
                    {{fa-icon "fa-image" fixedWidth=true}}
                    {{/light-box}}
                {{/if}}
            {{else}}
                {{fa-icon view.iconCls fixedWidth=true}}
            {{/if}}
            <span class="js-name ellipsis">
                <span>
                    {{object.model.stripped_name_no_ext}}
                    {{#if object.model.has_ext}}
                        <em>.{{object.model.extension}}</em>
                    {{/if}}
     
                </span>
            </span>
        {{/if}}
        {{#if object.canRename}}
            <form {{action 'reset' 'validateRename,renameObject' target=view on="submit"}}>
                {{view "input-single" value=object.model.stripped_name placeholder=object.model.stripped_name cls="hidden" oldValue=object.model.stripped_name}}
                <a class="hidden js-hide-edit icon-a snf-tooltip snf-tooltip-n" aria-label="Rename" {{action 'reset' 'validateRename,renameObject' target=view}}>{{fa-icon "fa-check fa-fw"}}</a>
                <a class="js-cancel js-hide-edit hidden icon-a snf-tooltip snf-tooltip-n" aria-label="Cancel" {{action 'reset' target=view}}>{{fa-icon "fa-times fa-fw"}}</a>
            </form>

            <a class="js-show-edit icon-a snf-tooltip snf-tooltip-n" aria-label="Edit name">{{fa-icon "fa-pencil fa-fw"}}</a>
        {{/if}}
        {{#if object.model.public_link}}
            <span class="right">
                <a aria-label="Public link" href={{object.model.public_link}} target="_blank" class="snf-tooltip snf-tooltip-n">
                    {{fa-icon "fa-link"}}
                </a>
            </span>
        {{/if}}
 

    </div>
    {{#if gridView}}
        <dl>    
            <dt>Type</dt>
            <dd>
                {{object.model.type}}
            </dd>
            <dt>Size</dt>
            <dd>{{convert-bytes object.model.size}}</dd>
            <dt>Modified</dt>
            <dd>
                {{time-from-now object.model.last_modified }} <span class="subtle">{{modified-by object.current_user.email object.modified_by.email}}</span>
            </dd>
        </dl>
    {{/if}}
    <div class="col select-col">
        {{#if object.mine}}
            {{#if object.model.sharing}}
                <span class="snf-tooltip snf-tooltip-n" aria-label="Privately shared">
                    {{fa-icon "fa-user"}}
                </span>
            {{/if}}

            {{#if object.inherit_share}}
                <span class="snf-tooltip snf-tooltip-n fa-stack" aria-label="{{ t 'included_in_shared_dir' object.model.shared_ancestor_path}}">
                    {{fa-icon "fa-folder" classNames="fa-stack-2x"}}
                    {{fa-icon "fa-user" classNames="fa-stack-1x fa-inverse"}}
                </span>
            {{/if}}
        {{else}}
            &nbsp;
        {{/if}}

        {{#if object.canShare}}
            <a {{action 'openShare'}} class="button small snf-tooltip snf-tooltip-n" aria-label="Share">
                {{fa-icon "fa-share-alt"}}
            </a>
        {{/if}}
        {{#if object.canRestore}}
            <a {{action 'initAction' 'openRestore'}} class="button small">
                Restore
            </a>
        {{/if}}
    </div>
    {{#if listView}}
       <div class="col data-col">
            {{convert-bytes object.model.size}}
        </div>

        <div class="col date-col">
            <span aria-label={{object.model.last_modified_human}} class="snf-tooltip snf-tooltip-n">
                {{time-from-now object.model.last_modified }}
            </span>
            {{#unless object.mine}}
                <span class="subtle">{{modified-by object.current_user.email object.model.modified_by.email}}</span>
            {{/unless}}
        </div>
        <div class="col data-col">
            <span aria-label={{object.model.extension}} class="snf-tooltip snf-tooltip-n">
                {{object.model.type}}
            </span>
        </div>
    {{/if}}
    <div class="col actions-col">

        {{#if object.canReplace}}
            {{# snf-dropfile-btn tagName="a" 
                inputName="X-Object-Data"
                multiple=false onclick="select" 
                target=controllers.application
                location=currentPathWithContainer
                account=account.id
                forceName=object.model.name
                classNames="icon-a"
                safeOverwrite=true
                }}
                {{fa-icon "fa-upload"}}
            {{/snf-dropfile-btn}}
        {{/if}}

        {{#if object.canDownload}}
            <a {{bind-attr href=object.view_src}} target="_blank" class="button small snf-tooltip {{iconTooltipDir}}" aria-label="Download">{{fa-icon "fa-download fa-fw"}}</a>
        {{/if}}
        {{#if object.canVersions}}
            <a {{action 'initAction' 'openVersions'}} class="icon-a snf-tooltip {{iconTooltipDir}}" aria-label="Manage object versions">{{fa-icon "fa-database fa-fw"}}</a>
        {{/if}}
        {{#if object.canMove}}
            <a {{action 'initAction' 'openCut'}} aria-label="Move" class="icon-a snf-tooltip {{iconTooltipDir}}">{{fa-icon "fa-share fa-fw"}}</a>
        {{/if}}
        {{#if object.canCopy}}
            <a {{action 'initAction' 'openCopy'}} aria-label="Copy" class="icon-a snf-tooltip {{iconTooltipDir}}">{{fa-icon "fa-copy fa-fw"}}</a>
        {{/if}}
       {{#if object.canTrash}}
            <a {{action 'initAction' 'moveToTrash'}} aria-label="Move to trash" class="icon-a snf-tooltip {{iconTooltipDir}}">{{fa-icon "fa-trash fa-fw"}}</a>
        {{/if}}
        {{#if object.canDelete}}
            <a {{action 'initAction' 'openDelete'}} aria-label="Delete" class="icon-a snf-tooltip {{iconTooltipDir}}">{{fa-icon "fa-remove fa-fw"}}</a>
        {{/if}}
   </div>

</div>

