<div class="ct-chart"></div>
<div class="legend">legend
	<ul class="colors">
		<li>
		<div class="color ct-series-b"></div>
			{{this.chartData.labels.[1]}}: {{convert-bytes this.chartData.series.[1]}} ({{this.chartData.percent.[1]}} %)
		</li>
		<li class="js-name hint--bottom" {{bind-attr data-hint=this.project.name}}>
			<div class="color ct-series-a"></div>
			{{this.chartData.labels.[0]}}: {{convert-bytes this.chartData.series.[0]}} ({{this.chartData.percent.[0]}} %)
		</li>

		<li class="js-name hint--bottom" {{bind-attr data-hint=this.project.name}}>
			<div class="color ct-series-c"></div>
			{{this.chartData.labels.[2]}}: {{convert-bytes this.chartData.series.[2]}} ({{this.chartData.percent.[2]}} %)
		</li>
	</ul>
</div>
