{{outlet}}
<h4>Projects page</h4>
<ul>
{{#each}}
    <li>{{#link-to 'project' this}}{{name}}{{/link-to}}
		<ul>
			<li>id: {{id}}</li>
			<li>system: {{system_project}}</li>
			<li>homepage: {{homepage}}</li>
			<li>user usage: {{diskspace_user_usage}}</li>
			<li>total usage: {{diskspace_project_usage}}</li>
			<li>user limit: {{diskspace_user_limit}}</li>
			<li>project limit: {{diskspace_project_limit}}</li>
			<li>taken by others: {{diskspace_taken_by_others}}</li>
			<li>effective limit: {{diskspace_effective_limit}}</li>
			<li>free: {{diskspace_free_space}}</li>
		</ul>
	</li>
{{/each}}
</ul>