<div class="proj-name">{{project.name}}</div>
{{#if project.diskspace_effective_limit}}
	<div class="usage-text">{{convert-bytes project.diskspace_user_usage}} out of {{convert-bytes project.diskspace_effective_limit}} used ({{convert-bytes project.diskspace_free_space}} left)</div>
	<div class="progress usage-bar large-12 secondary radius">
		<span class="meter" {{bind-attr style=view.width_usage }}></span>
		<span class="rest" {{bind-attr style=view.width_free}}></span>
		<span class="size">{{view.usage_percentage}} %</span>
	</div>
{{else}}
	<div class="zero-quotas">No quotas for storage</div>
{{/if}}