<a {{bind-attr title=view.linkTitle}} {{action "sortBy" view.field}}>
    {{view.title}}
    <span>
        {{fa-icon "fa-sort"}}
        {{fa-icon "fa-sort-desc"}}
        {{fa-icon "fa-sort-asc"}}
    </span>
</a>

