<div class="top-bar">
    <section class="top-bar-section">
        {{outlet "bar-lt"}}
        <ul class="right top-icons">
            {{outlet "bar-rt"}}
            <li>
                <a {{action 'showDialog' 'groups' 'groups' groups}}>
                    {{fa-icon "users"}}
                    <label>Groups</label>
                </a>
            </li>
            <li>
                <a {{action "refresh"}}>
                    {{fa-icon "refresh"}}
                    <label>Reload</label>
                </a>
            </li>
        </ul>
    </section>
</div>
