<h3>{{t 'overlay.create_container.title'}}</h3>
<form {{action 'createContainer' on="enter" }}>
    {{view 'input-single' placeholder='Container name' autofocus=true controller=controller actionFlag='freezeCreateContainer'}}

    {{#if projects}}
        <p>
            <label>Assign to project
                {{view "select" content=projects
                        optionLabelPath="content.select_label"
                        optionValuePath="content.id"
                        selection=newProject}}
            </label>
        </p>
    {{else}}
        <p>{{partial "loader"}} Loading projects</p>
    {{/if}}
<p>
    <span class="info">{{fa-icon "fa-warning"}} {{t 'cannot_rename_container'}}</span>
</p>

    {{#view "buttons"}}
    <button disabled={{controller.freezeCreateContainer}} {{action 'createContainer' }}>{{t 'button.create_container'}}</button>
    {{/view}}
</form>
