<h3>{{t 'overlay.create_dir.title'}}</h3>
<form {{action 'createDir' on='enter'}}>
    {{view 'input-single' placeholder='Folder name' autofocus=true controller=controller actionFlag='freezeCreateDir'}}
    {{#view 'buttons'}}
    <button {{action 'createDir'}} disabled={{controller.freezeCreateDir}}>{{t 'button.create_dir'}}</button>
    {{/view}}
</form>
