<a {{action "toggle"}}>
    {{#if expanded}}
        {{fa-icon "fa-folder-open"}}
    {{else}}
        {{fa-icon "fa-folder"}}
    {{/if}}
</a>
{{#if is_root}}
    <span>{{name}}</span>
{{/if}}
{{#if is_container}}
    {{#link-to 'container' container_id}}
        <span>{{name}}</span>
    {{/link-to}}
{{/if}}
{{#if is_folder}}
    {{#link-to 'objects' container_id current_path}}
    <span>{{name}}</span>
    {{/link-to}}
{{/if}}

{{#if expanded}}
    <ul>
    {{#each dir in subdirs}}
        {{dir-tree root=dir.id resolver=resolver}}
    {{/each}}
    </ul>
{{/if}}

