<a {{action "toggle"}}>
    {{fa-icon iconCls fixedWidth=true}}
</a>
{{partial textTemplateName}}
{{#if loading}}{{fa-icon "fa-refresh" spin=true}}{{/if}}
{{#if expanded}}
    <ul>
    {{#each dir in subdirs}}
        {{dir-tree root=dir.id resolver=resolver role=role action="select" click="click"}}
    {{/each}}
    </ul>
{{/if}}

