
<a {{action "toggle"}}>
    {{#if expanded}}
        {{fa-icon "fa-folder-open"}}
    {{else}}
        {{fa-icon "fa-folder"}}
    {{/if}}
</a>
{{partial textTemplateName}}

{{#if expanded}}
    <ul>
    {{#each dir in subdirs}}
        {{dir-tree root=dir.id resolver=resolver role=role action="select" click="click"}}
    {{/each}}
    </ul>
{{/if}}

