<li>{{link-to "Containers" "containers"}}</li>
<li {{bind-attr class="hasDirs::current"}}>{{#link-to "container" container_id}}{{container_id}}{{/link-to}}</li>
{{# each dir in dirs}}
    <li {{bind-attr class="dir.current"}}>{{#link-to "objects" dir.path}}{{dir.name}}{{/link-to}}</li>
{{/each}}
